<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        имя
        <input type="text" name="name">
        логин
        <input type="text" name="login">
        пароль
        <input type="text" name="password">
        юр.адресс
        <input type="text" name="ur_adress">
        представитель
        <input type="text" name="predst">
        инн
        <input type="text" name="inn">
        контакт
        <input type="text" name="contact">
        <input type="submit" value="ok">
    </form>
</body>
</html>